.navigation {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  padding: 1.6rem 3.2rem;
  /* justify-content: center; */
  width: 100%;
  z-index: 9;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0 0 0.8rem rgba(136, 130, 130, 0.258);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  list-style: none;
  position: relative;
}

h3 {
  color: #000;
}

/* .nav-item {
} */

.nav-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.2rem;
  padding: 1rem;
}

.nav-link:hover {
  background-color: whitesmoke;
}

.nav-link-dropdown {
  text-decoration: none;
  color: inherit;
}

.nav-link-dropdown:hover {
  background-color: whitesmoke;
}

.nav-item:hover .dropdown {
  display: inline-block;
}

.search-bar {
  width: 40rem;
  padding: 1.2rem;
  border: 0.1px solid #888;
  border-radius: 5px;
}

.search-bar::placeholder {
  font-size: 1.6rem;
}

.nav-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.dropdown {
  top: 4rem;
  left: 0;
  display: none;
  color: #777;
  background-color: #fff;
  position: absolute;
  width: 105rem;
  z-index: 1;
  height: 45rem;
  box-shadow: 0 0 0.8rem rgba(136, 130, 130, 0.258);
}

.inner {
  height: 100%;
  width: 100%;
}

.col-box {
  border-right: 0.1px solid #7775;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
  /* background-color: red; */
  padding: 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  height: 100%;
  width: 100%;
}

/* .col-5 {
  width: 400px;
} */

.dropdown-links,
.foooter-links {
  padding: 1rem 0;
  /* line-height: 1; */
}

.dropdown-item,
.footer-item {
  list-style: none;
  /* margin-bottom: 1.4rem; */
  padding: 0.7rem;
}

.dropdown-item:hover {
  background-color: whitesmoke;
}

.dropdown-item h3 {
  white-space: nowrap;
}

.dropdown-img-box {
  border-radius: 15px;
  overflow: hidden;
  padding: 3rem 1rem 0;
  border-radius: 15px;
}

.dropdown-img {
  height: 100%;
  width: 100%;
  /* padding: 0 2rem; */
  border-radius: 15px;
  transition: all 0.3s;
}

.img-link {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.img-link:hover .dropdown-img {
  transform: scale(1.05);
}

.img-text {
  padding: 1.4rem 1rem;
}

.dropdown-img-link {
  text-decoration: none;
  color: #000;
  font-size: 1.8rem;
  letter-spacing: 0.03rem;
  font-weight: 700;
  white-space: nowrap;
  /* display: inline-block; */
}

.dropdown-img-link:hover {
  text-decoration: underline;
}

.dropdown-nav-link,
.footer-nav-link {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  /* padding: 1rem; */
}

.dropdown-img-2 {
  height: 7rem;
  width: 7rem;
  border-radius: 1rem;
}

.pricing-plan-box {
  width: 100%;
  align-self: start;
  height: 80%;
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  padding: 2rem;
  border-bottom: 1px solid #77777740;
}

.pricing-plan-box-2 {
  width: 30%;
  border-left: 1px solid #77777740;
  height: 100%;
}

.pricing-plan-box-2-inner div:hover {
  /* padding: 1rem; */
  background-color: whitesmoke;
}
.pricing-plan-box-2-inner img {
  object-fit: cover;
}

.pricing-plan-link-box {
  display: inline-block;
  /* margin-top: 3rem; */
  padding: 2rem;
}

.pricing-plan-link {
  text-decoration: none;
  margin-top: 1rem;
  font-weight: bold;
  color: #000;
}

.pricing-plan-link:hover {
  text-decoration: underline;
}

.pricing-item {
  width: 25rem;
  display: flex;
  flex-direction: column;
  /* padding: 2rem 0; */
  gap: 1rem;
}

.pricing-item p {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  line-height: 1.3;
  color: #777;

  /* padding-right: 2rem; */
  /* max-width: 30rem; */
  width: 30rem;
}

.pricing-item div {
  border-radius: 10px;
  overflow: hidden;
}

.pricing-item img {
  object-fit: cover;
  border-radius: 10px;
  height: 20rem;
  width: 100%;
  transition: all 0.3s;
}

.pricing-item img:hover {
  transform: scale(1.1);
}
/* HERO SECTION */

.hero-text-box {
  text-align: center;
  margin-top: 6rem;
  padding: 8rem;
}

.hero-video {
  width: 80rem;
}

.img-1 {
  height: 22rem;
  justify-self: start;
  margin-left: -3rem;
}

.img-2 {
  width: 20rem;
}

.img-3 {
  width: 15rem;
  margin-right: -3rem;
}

.img-4 {
  width: 15rem;
}

/* PLANS SECTION */

.section-plans {
  margin: 10rem;
}

.plans-box {
  max-width: 100rem;
  margin: auto;
  padding: 5rem 0;
}

.plans-para {
  width: 35rem;
}

.ph-crown-fill {
  color: gold;
  margin-right: 1rem;
  height: 3.2rem;
  width: 3.2rem;
}
/* BRANDS SECTION */

.logo-img {
  height: 5rem;
  margin-right: 10rem;
}

.logo-box {
  margin-top: 3rem;
}

/* .marquee {
  height: 25px;
  width: 420px;

  overflow: hidden;
  position: relative;
} */

/* .marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 15s linear infinite;
  animation-fill-mode: both;
}



@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
} */

/* FEATURES SECTION */
.section-features {
  margin-bottom: 10rem;
}
.feature {
  margin-bottom: 4rem;
}
.feature-video {
  height: 40rem;
  width: 80rem;
}

.features-div {
  max-width: 135rem;
  margin: auto;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

/* TEMPLATES SECTION */

.section-template {
  margin-bottom: 10rem;
}

.section-template-container {
  display: flex;
  padding: 2rem 10rem;
  gap: 3rem;
  align-items: start;
}

.temp-sub-heading {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.template-col {
  display: grid;
  gap: 2rem;
  width: 100%;
}

/* .col-1 {
  height: 700px;
} */

/* .col-2 {
  height: 650px;
} */

.temp {
  border: 0.1px solid #999;
  border-radius: 5px;
}

.temp img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.temp-1 {
  width: 100%;
  height: 25rem;
  background-color: green;
}

.temp-2 {
  width: 100%;
  height: 15rem;
  background-color: blue;
}

.temp-3 {
  width: 100%;
  height: 25rem;
  background-color: yellow;
}

/* .temp-1 img,
.temp-2 img,
.temp-3 img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
} */

.temp-4 {
  width: 100%;
  height: 35rem;
  background-color: yellow;
}

.temp-5 {
  width: 100%;
  height: 25rem;
  background-color: yellow;
}

/* .temp-4 img,
.temp-5 img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
} */

.temp-6 {
  width: 100%;
  height: 20rem;
}

.temp-7 {
  width: 100%;
  height: 20rem;
}

/* .temp-6 img,
.temp-7 img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
} */

/* CANVA FOR TEAMS SECTION */

.canva-for-teams-section {
  margin-bottom: 15rem;
}

.canva-for-teams-heading {
  max-width: 65rem;
  margin: auto;
}

.canva-for-teams-heading-sub-text {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}
.canva-for-teams-box {
  max-width: 120rem;
  margin: auto;
}

.canva-for-teams-text {
  font-size: 1.4rem;
  gap: 5.5rem;
  padding: 2rem 10rem;
}

.teams-icons {
  height: 4rem;
  width: 4rem;
}

/* SURPRISES-SECTION */

.section-surprises {
  position: relative;
  padding: 0 4rem 15rem;
  border-bottom: 0.5px solid #777;
  /* height: 300px; */
}

.surprises-heading {
  width: 800px;
  margin: auto;
}

.surprises-heading-sub-text {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.btn-left,
.btn-right {
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 0.5px solid #777;
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  z-index: 9;
}

.btn-left {
  position: absolute;
  left: 20px;
  bottom: 50%;
}

.btn-right {
  position: absolute;
  right: 20px;
  bottom: 50%;
}

.surprises-carousel {
  overflow: hidden;
}

.surprise-carousel-item {
  /* height: 220px; */
  width: 300px;
}
.surprise-carousel-item-text p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: start;
}

.surprise-carousel-item-text h4 {
  font-size: 1.4rem;
  margin: 6px 0 4px;
}

.surprise-carousel-item-image {
  overflow: hidden;
  border-radius: 10px;
}

.surprise-carousel-item-image img {
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s;
}

.surprise-carousel-item-image img:hover {
  transform: scale(1.1);
}

/* FOOTER */

.section-footer {
  padding: 3rem 2rem 6rem;
  margin-bottom: 2.8rem;
}

.footer-box {
  padding-bottom: 5rem;
}

.footer-nav-link:hover {
  color: rgb(182, 64, 252);
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1.4rem;
}

.footer-select {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 1.6rem;
  gap: 0.5rem;
  border-radius: 5px;
  border: 1px solid #777;
}

.footer-policy {
  font-size: 1.5rem;
  display: grid;
  gap: 1rem;
  color: #777;
}

.footer-icon {
  height: 2.2rem;
  width: 2.2rem;
}

.facebook {
  color: #1877f2;
}

.twitter {
  color: #1d9bf0;
}

.pinterest {
  color: #e72b1c;
}

.instagram {
  color: #c13584;
}

.nav-fixed-bottom {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.127);
  /* box-shadow: 0, 0, 0.1, rgba(136, 130, 130, 0.258); */
}

.nav-fixed-box {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  width: 70%;
  margin: auto;
  padding: 2.2rem;
}

.nav-fixed-box span {
  font-weight: bold;
}
